

@font-face {
  font-family: 'University';
  src: url('/src/fonts/University.otf') format("opentype");
}

@font-face {
  font-family: 'Sport-Day-Bold';
  src: url('/src/fonts/Sport-Day-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Redneck';
  src: url('/src/fonts/Redneck.ttf') format("truetype");
}

@font-face {
  font-family: 'Circus';
  src: url('/src/fonts/Circus.ttf') format("truetype");
}

@font-face {
  font-family: 'varsity_regular';
  src: url('/src/fonts/varsity_regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Franchise';
  src: url('/src/fonts/Franchise.ttf') format("truetype");
}

@font-face {
  font-family: 'love_craft_italic';
  src: url('/src/fonts/love_craft_italic.otf') format("opentype");
}

@font-face {
  font-family: 'ComicaRegular';
  src: url('/src/fonts/ComicaRegular.otf') format("opentype");
}

.App {
  text-align: left;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a{
  cursor: pointer;
}

ul{
  list-style-type: square;
}

h1, h2{
  font-size:3.5em;
  text-transform:uppercase;
  text-align: center;
  width: 102%;
  margin-left: -1%;
}

h3{
  width: 102%;
  margin-left: -1%;
  font-size:2em;
  text-transform:uppercase;
}

body{
  background-image:url('/src/img/field_bg_2.png');
  background-size:contain;
  background-repeat: repeat; 
  overflow-x: hidden;
  overflow-y:scroll;
  background-size:100%;
}

@media screen and (min-width: 1350px){

  .App{
    margin:0 auto;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 21px;
  height: px; 
}

::-webkit-scrollbar-thumb {
  background-color: silver;
  border-left: ridge 2px #fff;
  border-top: ridge 2px #fff;
  border-right: ridge 2px grey;
  border-bottom: ridge 2px grey;
}

::-webkit-scrollbar-track {
  background-image:url('../img/bg-scrollbar-track@2x.png');
  background-size:2px;
}