

@font-face {
  font-family: 'University';
  src: url('/src/fonts/University.otf');
}

@font-face {
  font-family: 'sport_day';
  src: url('/src/fonts/sport_day.otf');
}

@font-face {
  font-family: 'Redneck';
  src: url('/src/fonts/Redneck.ttf');
}

@font-face {
  font-family: 'Circus';
  src: url('/src/fonts/Circus.ttf');
}

@font-face {
  font-family: 'varsity_regular';
  src: url('/src/fonts/varsity_regular.ttf');
}

@font-face {
  font-family: 'Franchise';
  src: url('/src/fonts/Franchise.ttf');
}

@font-face {
  font-family: 'love_craft_italic';
  src: url('/src/fonts/love_craft_italic.otf');
}

.App {
  text-align: left;
  box-sizing: border-box;
  margin:0 auto;
  max-width:900px;
  padding-top:30px;
  background:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
  list-style-type: square;
}

h1, h2{
  font-size:3.5em;
  text-transform:uppercase;
  text-align: center;
}

h3{
  font-size:2em;
  text-transform:uppercase;
}

body{
  background-image:url('/src/img/field_bg_2.png');
  background-size:contain;
  background-repeat: repeat-y; 
}

img{
  max-width:600px;
}

@media screen and (min-width: 768px) {
  .App{
    padding-top:100px;
  }
}