.App-header{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:80px;
  display:flex;
  justify-content: center;
  align-items:center;
  background:#b02153;
  z-index:1000;
  border-bottom:4px solid #31aed8;
  box-sizing: border-box;
}

.App-header .icon-set{
  display: none;
}

.App-header .icon-set-right{
  display: none;
}

.App-header video{
  width:312px;
  height:48px;
}

@media screen and (min-width: 1024px) {

  .App-header{
    height:160px;
  }

  .App-header .icon-set{
      display: block;
  }

  .App-header video{
    width:720px;
    height:120px;
  }
}

@media screen and (min-width:1300px) {

  .App-header .icon-set-right{
    display: block;
  }
}