
.App-nav{
  padding:5px 20px 5px 20px;
  text-align: center;
}

.App-nav img{
  max-width:50px;
  max-height:50px;
}

.App-nav a{
  margin:2px;
  cursor: pointer;
  display: inline-block;
}

.App-nav a img{
  cursor:pointer;
}