.Recap {
  text-align: left;
  box-sizing: border-box;
  padding-top:34px;
  width:100%;
  margin:0 auto;
  background:white;
  overflow-x: hidden;
  padding-bottom:50px;
  position:relative;
}

.Recap video{
  max-width: 100%;
  height: 100%;
}

.Recap p{
  font-size:14px;
  line-height:17px;
}

.Recap h2{
  margin-bottom:10px;
}

.recap-wrapper{
  padding:10px;
}

.recap-wrapper img{
  width:100%;
  max-width:500px;
}

.recap-wrapper img.inline{
  display: inline-block;
  width:unset;
  max-width:500px;
}

.Recap h3{
  padding-left:40px;
  background-image:url('/src/img/fgif2.gif');
  background-size:36px 30px;
  background-repeat:no-repeat;
  background-position:center left;
}

.Recap-bottom-nav{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
};

.btn-recap-nav{
  transition:filter 200ms ease-out;
}

.btn-recap-nav a{
  cursor: pointer;
  display: block;
}
.btn-recap-nav img{
  width:100px;
  cursor: pointer;
}

.btn-recap-nav :hover{
  filter:invert(1);
}

.btn-recap-back{
  position:absolute;
  top:100px;
  left:5px;
}

.btn-recap-info{
  position:absolute;
  top:100px;
  right:5px;
}

@media screen and (min-width: 768px) {

  .Recap{
    width:100%;
    max-width:800px;
    margin:0 auto;
    padding-top:114px;
  }

  .Recap p{
    font-size:16px;
    line-height:20px;
  }

  .recap-wrapper{
    padding:20px;
  }

  .btn-recap-back, .btn-recap-info{
    top:180px;
  }
}

/* Style 1 */
.recap-style-1 h2{
  background:#ff6d1a;
  font-family: 'Redneck';
  color:#000525;
}

.recap-style-1 h3{
  color:#ff6d1a;
  font-family: 'University';
  text-shadow: 2px 2px black;
}

/* Style 2 */
.recap-style-2 h2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#00ffff;
  background:pink;
  text-shadow: 2px 2px 5px #000000;
}

.recap-style-2 h3{
  color:#26150a;
  font-family: 'sport_day';
}

/* Style 3 */
.recap-style-3 h2{
  font-family:'Times New Roman', Times, serif;
  color:white;
  background:linear-gradient(90deg, rgba(205,203,44,1) 0%, rgba(0,0,0,1) 100%);
}

.recap-style-2 h3{
  color:rgba(205,203,44,1);
  font-family: Arial, Helvetica, sans-serif;
}

/* Style 4 */
.recap-style-4 h2{
  font-family:'Times New Roman', Times, serif;
  color:white;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(45deg, #444cf7 50%, #e5e5f7 50%);
  background-size: 10px 10px;
}

.recap-style-4 h3{
  font-family:'Franchise';
}

/* Style 5 */
.recap-style-5 h2{
  font-family:'sport_day';
  background: linear-gradient(-45deg, maroon, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 1s ease infinite;
  color:white;
}

.recap-style-5 h3{
  font-family: fantasy;
  color:#a64a15;
}

/* Style 6 */
.recap-style-6 h2{
  font-family:'love_craft_italic';
  background:#8b0c0d;
}

.recap-style-6 h3{
  color:#8b0c0d;
  font-family: 'varsity_regular';
}

/* Style 7 */
.recap-style-7 h2{
  font-family:'Franchise';
  color:rgba(255,0,0);
  animation: color-shift 5s ease infinite;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.recap-style-7 h3{
  color:pink;
  font-family: 'sport_day';
}

/* Style 8 */
.recap-style-8 h2{
  font-family:'University';
  color:white;
  background:black;
}

.recap-style-8 h3{
  color:pink;
  font-family: 'sport_day';
}

/* Style 9 */
.recap-style-9 h2{
  font-family:'ComicaRegular';
  color:white;
  background:blue;
}

.recap-style-9 h3{
  color:blue;
  font-family: 'University';
}

/* Style 10 */
.recap-style-10 h2{
  font-family:'varsity_regular';
  color:white;
  background:black;
}

.recap-style-10 h3{
  color:blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Style 11 */
.recap-style-11 h2{
  font-family:'Times New Roman', Times, serif;
  color:white;
  background:black;
}

.recap-style-11 h3{
  color:black;
  font-family: 'University';
}

/* Style 12 */
.recap-style-12 h2{
  font-family:'sport_day';
  color:white;
  background:purple;
}

.recap-style-12 h3{
  color:orangered;
  font-family: 'Franchise';
}

/* Style 13 */
.recap-style-13 h2{
  font-family:'University';
  color:black;
  background: linear-gradient(-45deg, rgb(104, 3, 3), #4ae73c, #d52391, #d5cf23);
  background-size: 400% 400%;
  animation: gradient 1s ease infinite;
}

.recap-style-13 h3{
  color:#d52391;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style 14 */
.recap-style-14 h2{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:lawngreen;
  text-shadow: 4px 4px black, -4px -4px orangered;;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image:  repeating-linear-gradient(45deg, red 25%, transparent 25%, transparent 75%, blue 75%, red), repeating-linear-gradient(45deg, #444cf7 25%, #e5e5f7 25%, #e5e5f7 75%, pink 75%, #444cf7);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

.recap-style-14 h3{
  color:peru;
  font-family: 'Franchise';
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes color-shift {
  0% {
    color:rgba(255,0,0);
  }
  25% {
    color:rgba(0,255,0);
  }
  50% {
    color:rgba(0,0,255);
  }
  75% {
    color:rgba(0,255,0);
  }
  100% {
    color:rgba(255,0,0);
  }
}