.Recap {
  text-align: left;
  font-size:14px;
  box-sizing: border-box;
}

.recap-wrapper img{
  width:100%;
  max-width:500px;
  padding:10px;
}

.Recap h3{
  padding-left:40px;
  background-image:url('/src/img/fgif2.gif');
  filter:blur(0.5px);
  background-size:36px 30px;
  background-repeat:no-repeat;
  background-position:center left;
}

@media screen and (min-width: 768px) {
  .Recap{
    font-size:16px;
  }

  .recap-wrapper{
    padding:20px;
  }
}

/* Style 1 */
.recap-style-1 h2{
  background:#ff6d1a;
  font-family: 'Redneck';
  filter:blur(0.5px);
  color:#000525;
}

.recap-style-1 h3{
  color:#ff6d1a;
  font-family: 'University';
  text-shadow: 2px 2px black;
}

/* Style 2 */
.recap-style-2 h2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#00ffff;
  background:pink;
  text-shadow: 2px 2px 5px #000000;
}

.recap-style-2 h3{
  color:#26150a;
  font-family: 'sport_day';
}

/* Style 3 */
.recap-style-3 h2{
  font-family:'Times New Roman', Times, serif;
  color:white;
  background:linear-gradient(90deg, rgba(205,203,44,1) 0%, rgba(0,0,0,1) 100%);
}

.recap-style-2 h3{
  color:rgba(205,203,44,1);
  font-family: Arial, Helvetica, sans-serif;
}

/* Style 4 */
.recap-style-4 h2{
  font-family:'Times New Roman', Times, serif;
  color:white;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: linear-gradient(45deg, #444cf7 50%, #e5e5f7 50%);
  background-size: 10px 10px;
}

.recap-style-4 h3{
  font-family:'Franchise';
}

/* Style 5 */
.recap-style-5 h2{
  font-family:'sport_day';
  background: linear-gradient(-45deg, maroon, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 1s ease infinite;
  color:white;
}

.recap-style-5 h3{
  font-family: fantasy;
  color:#a64a15;
}

/* Style 6 */
.recap-style-6 h2{
  font-family:'love_craft_italic';
  background:#8b0c0d;
}

.recap-style-6 h3{
  color:#8b0c0d;
  font-family: 'varsity_regular';
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}