.Season{
    width:100%;
    max-width:900px;
    background:white;
    padding-top:34px;
    padding-bottom:30px;
    box-sizing: border-box;
    background-color: #e5e5f7;
    background-size: 20px 20px;
    background-image:  repeating-linear-gradient(0deg, #bfc2f5, #bfc2f5 1px, #e5e5f7 1px, #e5e5f7);
}

.Season-title{
    display: inline-block;
    background-color: black;
}

.Season-title img{
    width:50px;
}

.rule{
    width:100% !important;
    max-width:unset !important;
    height:4px;
}

.Season-recap-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px;
    font-family: 'Franchise';
    color:green;
}

.Season-recap-title img{
    width:80px;
}

.Season-results{
    margin-top:20px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Season-results-section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Season-results-section h4{
    text-align: center;
    font-size:8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height:50px;
}

.Season-results-section .placeholder{
    width:170px;
    height:170px;
    background:#f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:2px solid black;
}


.Season-results-section .champ-image{
    width:300px;
    height:300px;
}

.Season-results-section .champ-image{
    border:2px solid black;
}

.Season-results-section .user-image{
    width:170px;
    height:170px;
}

.Season-results-section .user-image{
    border:2px solid black;
}

#minnow{
    margin-top:40px;
}

#minnow .user-image{
    width:100px;
    height:100px;
}

.placeholder img{
    width:100%;
}

@media screen and (min-width: 768px) {

    #minnow .user-image{
        width:150px;
        height:150px;
    }

    .Season-results-section .placeholder, .Season-results-section .user-image{
        width:275px;
        height:275px;
    }

    .Season{
        padding-top: 114px;
        margin:0 auto;
    }

    .Season-recap-title{
        font-size:64px;
    }
}